<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
<!--    <logger name="AnalyzerLogger" level="info,warn,error">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
</configuration>